body{
    width: 340px;
    margin: 0 auto;
}
.title11{
   font-size: 22px;
    color: blue;
    text-align: center;
}
.title{
    font-size: medium;
    text-align: center;
    color: blue;

}
p{
    text-align: justify;
    text-indent: 3em;
}
.subtitle_item{
    color: red;
    font-size: 14px;

}
.title2{
    font-size:16px;
    color: red;
}
.one{
    font-size: medium;
    color: blue;
    text-align: center;
}

