.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
  background: url("../images/main/image-main.jpg") no-repeat top center;
  background-size: cover;
}
.main h1 {
  font-size: 56px;
  line-height: 73px;
  color: #ffffff;
}
.main p {
  width: 870px;
  margin: 24px auto 49px;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.info {
  margin-top: -96px;
  margin-bottom: 128px;
}
.info__inner {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 56px 88px;
  -webkit-box-shadow: 0 11px 35px rgba(0, 0, 0, 0.08);
          box-shadow: 0 11px 35px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__item .top {
  display: block;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 47px;
  font-weight: 700;
}
.info__item .bottom {
  font-size: 16px;
  line-height: 25px;
  color: #086CF9;
}
.info__item img {
  width: 72px;
  margin-right: 24px;
}

.course {
  margin-bottom: 128px;
}
.course__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.course__inner .page-title {
  text-align: left;
}
.course__inner .left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 520px;
          flex: 0 1 520px;
}
.course__inner .left span {
  display: block;
  max-width: 489px;
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 28px;
  height: 125px;
}
.course__inner .left p {
  max-width: 478px;
}
.course__inner .right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 595px;
          flex: 0 0 595px;
}
.course__inner .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 433px;
  background: url("../images/course/image-course.jpg") no-repeat center;
  background-size: cover;
  border-radius: 4px;
}
.course__inner .image a {
  display: block;
  width: 80px;
  height: 80px;
  background: #ffffff url("../images/course/icon-play.svg") no-repeat center;
  background-size: 24px;
  border-radius: 50%;
}

.how_it_work {
  margin-bottom: 128px;
}

.online {
  background-color: #ECF4FF;
  height: 1393px;
}
.online .ruo {
  margin: auto;
  height: 124px;
  width: 674px;
}
.online .ruo p {
  text-align: center;
  font-size: 16px;
}
.online .ruo h2 {
  text-align: center;
  font-size: 48px;
}
.online .ours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.online .ours .our1 {
  background-color: #fff;
  height: 483px;
  margin: 24px 0 24px 0;
  padding: 24px;
  border-radius: 6px;
  width: 368px;
}
.online .ours .our1 .iconca h3 {
  font-size: 24px;
}
.online .ours .our1 .iconca span {
  font-size: 24px;
  color: #086CF9;
}
.online .ours .our2 {
  width: 368px;
  background-color: #fff;
  height: 483px;
  padding: 24px;
  margin: 24px 0;
  border-radius: 6px;
}
.online .ours .our2 .iconca h3 {
  font-size: 24px;
}
.online .ours .our2 .iconca span {
  font-size: 24px;
  color: #086CF9;
}
.online .ours .our3 {
  width: 368px;
  background-color: #fff;
  height: 483px;
  padding: 24px;
  margin: 24px 0 24px 0;
  border-radius: 6px;
}
.online .ours .our3 .iconca h3 {
  font-size: 24px;
}
.online .ours .our3 .iconca span {
  font-size: 24px;
  color: #086CF9;
}
.online .ours .our4 {
  width: 368px;
  background-color: #fff;
  height: 483px;
  padding: 24px;
  border-radius: 6px;
}
.online .ours .our4 .iconca h3 {
  font-size: 24px;
}
.online .ours .our4 .iconca span {
  font-size: 24px;
  color: #086CF9;
}
.online .ours .our5 {
  width: 368px;
  background-color: #fff;
  height: 483px;
  padding: 24px;
  border-radius: 6px;
}
.online .ours .our5 .iconca h3 {
  font-size: 24px;
}
.online .ours .our5 .iconca span {
  font-size: 24px;
  color: #086CF9;
}
.online .ours .our6 {
  width: 368px;
  background-color: #fff;
  height: 483px;
  padding: 24px;
  border-radius: 6px;
}
.online .ours .our6 .iconca h3 {
  font-size: 24px;
}
.online .ours .our6 .iconca span {
  font-size: 24px;
  color: #086CF9;
}
.online .iconca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}
.online .iiimmm {
  margin-top: 24px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.online_btn {
  height: 56px;
  width: 182px;
  margin: 48px auto 0;
}
.online_btn a {
  padding: 16px 32px;
  background: #086CF9;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
}

.event_block {
  width: 1152px;
  height: 562px;
  margin-top: 120px;
}
.event_block .block_one {
  width: 421px;
  height: 124px;
  margin: auto;
}
.event_block .block_one h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 12px;
}
.event_block .block_one p {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
.event_block .block_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}
.event_block .block_two .two_1 {
  height: 390px;
  width: 368px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 12px 45px rgba(0, 0, 0, 0.08);
          box-shadow: 0 12px 45px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.event_block .block_two .two_1 a {
  position: relative;
}
.event_block .block_two .two_1 a span {
  position: absolute;
  height: 62px;
  width: 65px;
  background: #086CF9;
  border-radius: 6px 0 0 0;
  color: #FFFFFF;
  bottom: 182px;
  right: 303px;
  font-size: 18px;
  text-align: center;
  padding-top: 8px;
}
.event_block .block_two .two_1 .eventtt {
  height: 94px;
  width: 320px;
  margin: 24px auto 0;
}
.event_block .block_two .two_1 .eventtt .event_time_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  height: 22px;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.event_block .block_two .two_1 .eventtt .event_time_location .event_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 149px;
  height: 22px;
}
.event_block .block_two .two_1 .eventtt .event_time_location .event_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 142px;
  height: 22px;
}

.footers {
  background-color: #D3E5FE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 80px;
}
.footers .footer1 {
  margin-right: 92px;
}
.footers .footer1 .footer1_con h2 {
  padding-bottom: 24px;
}
.footers .footer1 .footer1_con p {
  width: 360px;
  font-size: 16px;
  line-height: 155%;
}
.footers .footer1 .footer1_con2 h2 {
  padding-top: 32px;
}
.footers .footer1 .footer1_con2 .con_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 120px;
  padding-top: 32px;
}
.footers .footer1 .footer1_con2 .con_img a {
  width: 48px;
  height: 48px;
  background: #ffffff;
  border-radius: 4px;
}
.footers .footer1 .footer1_con2 .con_img a div {
  text-align: center;
  padding-top: 14px;
}
.footers .footer2 {
  margin-right: 92px;
}
.footers .footer2 .footer2_con2 h2 {
  height: 39px;
  width: 194px;
}
.footers .footer2 .footer2_con2 p {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 21px;
  color: #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footers .footer3 {
  margin-right: 92px;
}
.footers .footer3 h2 {
  padding-bottom: 24px;
}
.footers .footer3 p {
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footers .footer4 {
  margin-right: 92px;
}
.footers .footer4 h2 {
  padding-bottom: 24px;
}
.footers .footer4 p {
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}